@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-h: 64px;
    --sidebar-x-padding: 16px;
    --sidebar-w: 300px;
    --sidebar-w-collapsed: calc(64px + var(--sidebar-x-padding));
  }
}

@layer components {
  .body-height {
    min-height: calc(100vh - var(--navbar-h));
  }
}
