@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navbar-h: 64px;
    --sidebar-w: 300px;
    --sidebar-w-collapsed: 64px;
  }
}

@layer components {
  .app {
    min-height: 100vh;
    min-width: 320px;
    width: 100%;
  }

  .body-height {
    min-height: calc(100vh - var(--navbar-h));
  }
}
