.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
}

.spinner-inner {
  position: absolute;
  inset: 0;
  display: block;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 50%;
  border-style: solid;
  border-color: hsl(var(--nc)) transparent hsl(var(--nc)) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
